@{
    ViewData["Title"] = "Home Page";
}

<div id="primer">

    <div class="row" style="padding-top:30px;">
        @Html.Partial("_AddProduct")

        @Html.Partial("_AddCategory")
    </div>

    <div class="row" style="padding-top:30px;">

        <div id="categoriesgrid"></div>

    </div>

    <script type="text/x-kendo-template" id="subgridtemplate">
        <div class="products"></div>
     </script>


            <script>

                $(document).ready(function () {

                    $("#categoriesgrid").kendoGrid({
                        dataSource: {
                            data: []
                        },
                        height: 550,
                        groupable: true,
                        sortable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        detailTemplate: kendo.template($("#subgridtemplate").html()),
                        detailInit: detailInit,
                        dataBound: function () {
                            this.expandRow(this.tbody.find("tr.k-master-row").first());
                        },
                        columns: [{
                            field: "id",
                            title: "Category Id",
                            width: 240
                        }, {
                            field: "name",
                            title: "Category Name"
                        }]
                    });


                    function getProductGridData() {

                        $.ajax({
                            type: 'GET',
                            url: '/api/getgriddata',
                            dataType: 'json',
                            success: function (response) {
                                let kendogrid = $("#categoriesgrid").data("kendoGrid");
                                kendogrid.setDataSource(response);
                                kendogrid.refresh();

                            },
                            error: function (data) {
                                alert(data);
                            }
                        });
                    }

                    getProductGridData();

                    function detailInit(e) {
                        debugger;
                        var detailRow = e.detailRow;

                        //let produsts = [
                        //    { id: 1, name: "BMW" },
                        //    { id: 2, name: "BMW" },
                        //    { id: 3, name: "BMW" }

                        //];

                        detailRow.find(".products").kendoGrid({
                            dataSource: {
                                data: e.data.productsList
                                //data: produsts 
                            },
                            scrollable: false,
                            sortable: true,
                            pageable: true,
                            columns: [
                                { field: "id", title: "ID" },
                                { field: "name", title: "Name" },
                                { field: "validFrom", title: "Valid From" },
                                { field: "quantity", title: "Quantity" },
                                { field: "price", title: "Price"}
                            ]
                        });
                    }


                });
            </script>
</div>

   




